:root {
  --clr-black: #222831;
  --clr-gray-dark: #31363F;
  --clr-gray-light: #EEEEEE;
  --clr-teal: #76ABAE;

  --clr-purple-dark: #2D3250;
  --clr-purple-medium: #424769;
  --clr-purple-light: #7077A1;
  --clr-yellow: #F6B17A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-black);
}

.calculator {
  width: 380px;
  height: 650px;
  border-radius: 15px;
  background-color: var(--clr-teal);
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.content__display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 10rem;
  padding: 0.5rem 1rem;
  background-color: var(--clr-gray-dark);
  border-radius: 10px;
}
  
.content__display__text {    
  font-size: 3.2rem;
  font-family: sans-serif;
  color: var(--clr-gray-light);
}